token = '123456:ABC-DEF1234ghIkl-zyx57W2v1u123ew11'
wa_token = 'ABCDEF-HIJKLMNOPQ'
yt_token = ''  # leave blank if it doesn't exist. certain features will be unsupported.
reddit_username = 'my_username'
check_online_status = False
status_channel_id = -123456789000000  # only needed if check_online_status is True
